*~
compiled/
software-construction-admin/test-validation/test-validation-jobs.rktd
software-construction-admin/grading/grading-jobs.rktd
backgammon-oracle/submitted-tests/0/
backgammon-oracle/validated-tests/0/
.DS_Store
